*.webm
*.zip
.elevenlabs_auth
*:Zone.Identifier
# temporary until assets more finalized
#remote_assets
gg - Copy/
Research/
src/Server/SocketTest.as
remote_assets/working_ez_vl/

remote_assets/img/600-speed.jpg
remote_assets/img/ask-berzerk.jpg
remote_assets/img/stealth/
remote_assets/img/xertrov-shitty.jpg
remote_assets/img/xertrov-shitty.png
todo.md
